<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/blog.css">

    <title>BLOG</title>
</head>

<body>

    <header>
        <!-- Contenido del header -->
    </header>


    <div class="container">

        <div class="Item">
            <h1>Derecho de extranjería</h1>
            <img src="../img/abogado-civil.jpg" alt="Imagen 1" class="image" id="image1">

            <p class="enunciado">El Supremo anula la norma que deja sin permiso de residencia a extranjeros si se
                ausentan 6 meses de España
                Considera que limita el derecho fundamental de libre circulación
                Cristina Gallardo
                Madrid | 20·06·23 | 14:52.
                Periodico de Extremandura
            </p>
        </div>
<!-- 
        <div class="lectura" id="lectura1">

            <p>El Tribunal Supremo ha anulado una disposición del Reglamento de Extranjería que afecta a la
                situación de miles de migrantes en nuestro país. Se trata del artículo que establece como causa
                de extinción de la autorización de residencia temporal en España de ciudadanos extranjeros la
                permanencia fuera de España durante más de seis meses en el periodo de un año. Para los
                magistrados del alto tribunal, esta norma está "viciada de nulidad" porque limita el derecho
                fundamental de libre circulación de los ciudadanos extranjeros con residencia temporal en
                España, lo que sólo puede hacerse por una norma con rango de ley, pero no por una norma
                reglamentaria como en este caso. La Sala recuerda que ningún artículo de la Ley Orgánica sobre
                derechos y libertades de los extranjeros en España y su integración social da cobertura a esa
                disposición de su Reglamento, que data de 2011, y tampoco lo hace ninguna directiva europea.</p>
            <p>Por otra parte, el tribunal deja claro que no le corresponde ponerse en la situación del
                legislador y determinar si es oportuna una limitación de ese tipo, pero subraya que en todo caso
                debería hacerse por Ley Orgánica y no por norma reglamentaria. A la vista de estos hechos, la
                Administración consideraba que era de aplicación la causa de extinción de la autorización de
                residencia temporal establecida en el artículo (162-2º-e) del Reglamento de la Ley. En primera
                instancia, un juez de lo Contencioso consideró acreditados los hechosy, ya que la ausencia de
                España había sido admitida por la propia recurrente.</p>
            <p>La mujer recurrió entonces al Tribunal Superior de Justicia de Catalunya, que también desestimó
                su recurso - con el voto en contra de uno de los magistrados- argumentando, entre otras cosas,
                que la recurrente no había justiciado ninguna causa de fuerza mayor, y que en todo caso los
                motivos de extinción de la autorización temporal de residencia que establece el artículo 162 del
                Reglamento tienen un carácter objetivo, de forma que operan a partir de su mera concurrencia con
                independencia de la eventual imputabilidad subjetiva de la situación al interesado o la eventual
                incidencia de causas de fuerza mayor. Ahora, el Supremo estima ahora su recurso y concluye que
                la ausencia del territorio nacional de un extranjero con autorización de residencia temporal en
                España, durante el plazo de seis meses, en el periodo de un año, a que se refiere el actual
                artículo del Reglamento puede suponer la extinción de dicha autorización.</p>
        </div> --> 

        <div class="Item">
            <h1>Derecho Inmobiliario</h1>
            <img src="../img/abogado-imobiliario.jpg" alt="Imagen 1" class="image" id="image1">

            <p class="enunciado">Hay altenativas para comprar un piso sin hipoteca.
                19 abril, 2023
            </p>
        </div>



        <!-- <div class="lectura" id="lectura1">

            <p>Que el banco deniegue la financiación para la compra de una vivienda no implica que pueda concederla
                más adelante. Si cambian las circunstancias económicas o mejora la solvencia del potencial
                comprador. Por ello, el alquiler con opción de compra puede ser también una alternativa interesante
                para no tener que renunciar a la casa de tus sueños. Dado que te permitirá disfrutar de la vivienda
                en arriendo y disponer de más tiempo para poder comprarla.Dicha fórmula se articula mediante la
                firma de un contrato de arrendamiento en el que se otorga al inquilino un derecho de opción de
                compra sobre la vivienda. Que podrá ejercitar o no dentro de un plazo y por un precio convenido por
                las partes. Estando obligado el propietario-arrendador a no transmitir el inmueble y mantener la
                oferta de venta durante el plazo acordado. Pudiendo acordarse además que los alquileres pagados
                hasta la compra se descuenten del precio.
            </p>

            <p>Claro, que si, hoy es mas común el préstamo de dinero entre particulares, ya sean amigos o
                familiares, es una herramienta que está siendo muy utilizada en los últimos años. Dado que permite
                disponer de liquidez más rápidamente y en mejores condiciones. En un contexto en el que cada vez es
                más difícil obtener financiación bancaria. Por otra parte, es una operación que se puede formalizar
                en un documento privado sin acudir al notario. Motivo por el que se realiza sin apenas costes al
                estar además exenta de tributación.En el contrato de préstamo es conveniente que se especifique un
                plazo de devolución del dinero. Pudiendo también pactarse o no que el prestatario devuelva además
                del dinero los intereses acordados. Resultando en ocasiones aconsejable, si la cantidad de dinero
                prestada es importante, que la devolución del préstamo se garantice con el inmueble que se pretende
                adquirir. En cuyo caso si será necesaria la escritura pública ante notario.
            </p>

            <p>Esta compraventa con pago aplazado puede llevar aparejada la entrega de la posesión del inmueble al
                comprador. En cuyo caso el comprador podrá disfrutar de la vivienda, aunque no haya satisfecho
                todavía íntegramente su precio. Aunque es frecuente que el vendedor retenga la posesión hasta que se
                le abone la totalidad del precio. Por no estar obligado a entregar la cosa vendida si el comprador
                no le ha pagado todo el precio, y si existe una donación de dinero por un familiar para comprar una
                vivienda aunque este dinero de los padres a hijos tiene importantes beneficios fiscales. Que varían
                en función de la normativa aprobada por las diferentes Comunidades Autónomas. Resultando aplicable a
                estas operaciones la normativa de la autonomía donde resida el donatario. Si la donación del dinero
                se realiza con carácter colacionable, la entrega será considerada a cuenta de la herencia. De manera
                que dicho adelanto no perjudique a los restantes herederos.
            </p>

        </div> -->



        <div class="Item">
            <h1>Derecho Mercantil y Societario</h1>
            <img src="../img/abogado-materia-tributaria.jpg" alt="Imagen 1" class="image" id="image1">

            <p class="enunciado">El Supremo aclara cuándo un gasto contable puede ser calificado como “donativo y
                liberalidad”, para negar su deducción
                20 abril, 2021.
            </p>
        </div>

        <!-- <div class="lectura" id="lectura1">

            <p>Importante sentencia que aclara y matiza el significado que ha de darse al concepto de “donativos y
                liberalidades”, previsto en la Ley del Impuesto de Sociedades (actual artículo 15.e). Estamos ante un
                concepto, el de “donativo o liberalidad”, que se aplicaba para negar la deducción de cualquier gasto que
                se considerase, no tenía correlación con los ingresos de la actividad. Ahora el Supremo acota qué
                significado debe otorgarse a dicho concepto, en una sentencia muy favorable a los contribuyentes, y que
                puede dar lugar a la solicitud de devoluciones de ingresos indebidos. Gran parte del problema viene de
                la confusa redacción de la Ley del Impuesto de Sociedades. Y ello, como pone de manifiesto el Tribunal
                Supremo en la sentencia que comentamos, de 30-3-2021. Dicha resolución estima el recurso dirigido por el
                abogado Gonzalo Cagiga Mata. Así, considera el Supremo que, en el Derecho Común, se consideran donativos
                y liberalidades, aquellos gastos que “teniendo un reflejo contable se realizan con animus donandi”. Es
                decir, a título gratuito.Sin embargo, el artículo 14.1.e de la anterior normativa del impuesto (Real
                Decreto Legislativo 4/2004, examinada por el Supremo), y el actual 15.e de la Ley del Impuesto de
                Sociedades, consideran como donativo y liberalidad los gastos que “de suyo poseen una dimensión no del
                todo coincidente con el significado común de disposición a título estrictamente gratuito, sino que
                responden a una causa o finalidad que no se ajusta estrictamente a la mera liberalidad, una causa que
                podríamos identificar como propia de la actividad empresarial, que excede de la simple liberalidad, para
                descubrir una finalidad empresarial, pues si bien son gastos que como cualquier donativo o liberalidad
                no persiguen una correlativa contraprestación, sí en cambio su finalidad es conseguir optimizar la
                actividad y el resultado empresarial.”
            </p>

            <p>Recordemos que esta cuestión llegó al Tribunal Supremo a finales de 2019. Fue entonces cuando el Supremo
                admitió el recurso interpuesto, mediante Auto de fecha 28-10-2019. Así, el Supremo consideró que la
                cuestión que presentaba interés casacional era la de decidir “si la interpretación del artículo 14.1.e
                del texto refundido de la Ley del Impuesto sobre Sociedades , aprobado por Real Decreto Legislativo
                4/2004, de 5 de marzo, permite entender que cualquier gasto acreditado y contabilizado que no denote una
                correlación directa e inmediata con un ingreso empresarial ha de constituir necesariamente una
                liberalidad, que no resulta por tanto deducible; o si, a los efectos de excluir legalmente la
                deducibilidad de los gastos no correlacionados con los ingresos ha de ser entendida en un sentido más
                amplio -no limitada a la mencionada letra e del artículo 14.1 TRLIS- de manera que la exigencia de
                aquella correlación, directa e inmediata, sea condición precisa para la deducibilidad de cualquier
                gasto, como sostiene la Administración tributaria, aun cuando ese gasto no pueda ser considerado como un
                donativo o una liberalidad, gratuita por tanto.”
            </p>

            <p>En su sentencia, de 30-3-2021, como se ha indicado, el Supremo acota el concepto de “donativos y
                liberalidades” previsto en la Ley del Impuesto de Sociedades.El Supremo fija doctrina sobre el concepto
                de "donativos y liberalidades"Por ello, el Tribunal Supremo fija en este punto doctrina, declarando que
                “los gastos acreditados y contabilizados no son deducibles cuando . constituyan donativos y
                liberalidades, entendiéndose por tales las disposiciones de significado económico, susceptibles de
                contabilizarse, realizadas a título gratuito; serán, sin embargo deducibles, aquellas disposiciones -que
                conceptualmente tengan la consideración de gasto contable y contabilizado- a título gratuito realizadas
                por relaciones públicas con clientes o proveedores, las que con arreglo a los usos y costumbres se
                efectúen con respecto al personal de la empresa y las realizadas para promocionar, directa o
                indirectamente, la venta de bienes y prestación de servicios, y todas aquellas que no comprendidas
                expresamente en esta enumeración respondan a la misma estructura y estén correlacionadas con la
                actividad empresarial dirigidas a mejorar el resultado empresarial, directa o indirectamente, de
                presente o de futuro, siempre que no tengan como destinatarios a socios o partícipes.” El Supremo
                considera que “los ciclos económicos de las empresas no tienen por qué coincidir con el período
                impositivo del gravamen que nos ocupa, de suerte que no son extrañas operaciones empresariales cuyo
                resultado económico exceden del período de imputación en el impuesto sobre sociedades, sin que por ello
                se le pueda negar su condición, en su caso, de gasto deducible en el período de imputación que
                corresponda cuando existe la correlación con la actividad económica empresarial.” Por tanto, en ambos
                impuestos, la sentencia del Supremo dota de argumentos a los contribuyentes que quieran oponerse a
                comprobaciones tributarias en las que se haya negado la deducción de gastos,, acudiendo a un concepto
                amplio de donativo y liberalidad, y rechazando una correlación indirecta entre los gastos e ingresos de
                la actividad artículo 15.e, correlación de ingresos y gastos, donativos y liberalidades, Hacienda,
                Impuesto de Sociedades, IRPF, Ley 27/2014, Real Decreto Legislativo 4/2004.
            </p>

        </div> -->



        <div class="Item">
            <h1>Derecho Civil Litigios</h1>
            <img src="../img/Abogados-civil-litigios.jpg" alt="Imagen 1" class="image" id="image1">

            <p class="enunciado">Reparto de una casa heredada: ¿Qué podemos hacer si no nos ponemos de acuerdo?
                4 abril, 2023.
            </p>
        </div>


        <!-- <div class="lectura" id="lectura1">

            <p>La pérdida de un ser querido puede resultar más o menos traumática en función de las circunstancias. Pero
                siempre es un trance que tarde o temprano todos tenemos que sobrellevar. No obstante, pasado el duelo,
                la
                vida sigue y llega el momento de hacer frente a los trámites de la herencia. Es frecuente que el difunto
                haya podido dejar una casa para que la compartan todos sus herederos. Y que estos no se pongan de
                acuerdo
                sobre cómo repartir la casa heredada. Es posible que ninguno de los herederos quiera quedarse el
                inmueble. O
                que interesándole a uno no llegue a un acuerdo con el resto sobre el importe que debería abonarles para
                compensarles. En cuyo caso, la venta a un tercero será una primera opción para hacer efectivo el reparto
                de
                la casa heredada. Debiendo estar conformes todos los herederos con la trasmisión y el precio para que la
                venta del inmueble pueda realizarse. No obstante, dicha trasmisión requerirá que los herederos realicen
                con
                carácter previo la partición y adjudicación de la herencia. Y el pago correspondiente del Impuesto sobre
                Sucesiones y de la plusvalía municipal. De manera que la titularidad del inmueble pase definitivamente a
                nombre de los herederos. Que podrán llevar a cabo la partición de herencia y venta en el mismo acto,
                aunque
                convenientemente en dos escrituras consecutivas pero separadas.También puede darse la circunstancia de
                que
                no haya tampoco consenso respecto a la venta de la vivienda. Porque alguno de los hereros se oponga o no
                exista acuerdo en relación al precio. Lo que puede propiciar que uno de los herederos decida vender su
                parte
                a otro o a un tercero. Siendo dicha opción posible, aunque no siempre fácil. En todo caso, si finalmente
                la
                venta de esa parte de la vivienda se realiza a favor de un tercero, los restantes coherederos tendrán
                derecho de retracto. Es decir, la posibilidad de adquirir esa parte preferentemente y por el mismo
                precio.
            </p>

            <p>¿ES POSIBLE ESTABLECER EL USO COMPARTIDO O POR TURNOS DE LA CASA HEREDADA?
                Puede darse el caso de que ninguno de los herederos se platee vender la casa heredada, por interesar a
                todos
                disfrutar del inmueble. Surgiendo entonces la duda de quién tiene derecho a usar la casa heredada. En
                principio todos los herederos podrán hacer uso del inmueble, aunque será aconsejable que alcancen cuanto
                antes un acuerdo. Para su aprovechamiento compartido en aras a evitar todo tipo de conflictos. No
                obstante,
                el disfrute compartido del bien por todos los coherederos no siempre será posible. Ya sea por las
                circunstancias de la vivienda o por resultar muy difícil la convivencia entre los coherederos. Pudiendo
                optarse en tal caso por un uso por turnos de la casa heredada. De manera que se establezca un uso
                exclusivo
                y alternativo del inmueble, por periodos sucesivos y recurrentes, como fórmula más justa entre los
                coherederos. Criterio que ha sido refrendado por el Tribunal Supremo.
            </p>

            <p>¿PUEDO ACUDIR AL JUZGADO PARA QUE REALICE EL REPARTO DE LA CASA QUE COMPARTIMOS?
                También puede darse la circunstancia de que no sea posible alcanzar ningún tipo de consenso entre los
                coherederos. Porque no se pongan de acuerdo ni para vender la casa heredada, tras habérsela adjudicado
                en
                proindiviso, ni para hacer uso de ella. En cuyo caso, cualquiera de los copropietarios podrá acudir al
                Juzgado a solicitar la división de la cosa común. Partiendo de la premisa de que nadie está obligado a
                permanecer en la indivisión. La acción de división de cosa común que se interponga ante el Juzgado
                tendrá
                como principal objetivo que se extinga el condominio de la vivienda. Mediante la adjudicación a cada uno
                de
                los propietarios de una parte del inmueble cuando la finca sea divisible: O por medio de la venta del
                bien y
                reparto del precio obtenido, en caso de que el inmueble sea indivisible. Acudiéndose a la venta en
                pública
                subasta para el posterior reparto de su precio. No obstante, cada caso tiene una particular
                problemática,
                que debe ser analizada caso por caso.
            </p>

        </div> -->


        <div class="Item">
            <h1>Derecho Mercantil y Fiscal</h1>
            <img src="../img/abogados-imobiliarios.jpg" alt="Imagen 1" class="image" id="image1">

            <p class="enunciado">Legado de cosa ajena: ¿puedo disponer en mi testamento de un piso que no es mío?
                9 febrero, 2023.
            </p>
        </div>



        <!-- <div class="lectura" id="lectura1">
            <p>Aunque todos sabemos que algún día dejaremos nuestra vida presente, no siempre resulta fácil asimilarlo.
                Y es
                frecuente que muchos se resistan a aceptar dicha realidad y hacer testamento. Ya sea poniendo de
                manifiesto
                genéricamente cómo será el reparto, o estableciendo legados para adjudicar bienes concretos de su
                patrimonio. Pudiendo incluir en el testamento un piso que no es mío, instituyendo lo que se conoce como
                legado de cosa ajena.
                ¿QUÉ SON LOS LEGADOS?
                En el testamento pueden realizarse disposiciones de bienes tanto a título de herencia o de legado.
                Debiendo
                entenderse que heredero es aquel que sucede a título universal, y legatario el que lo hace a título
                particular. Y considerando, a su vez, que tiene carácter universal el llamamiento a la totalidad de los
                bienes de la herencia. Y particular el que se refiere únicamente a determinados bienes concretos. El
                Código
                Civil no recoge una definición normativa del legado. No obstante, sí regula diversos tipos de legados.
                Estando sujetos a unas reglas específicas en función de cuál sea su modalidad (puro, condicional, a
                término,
                etc.) y objeto (cosa específica, ajena, genérica, etc.). En todo caso, los legados tienen que
                establecerse
                en testamento, y deben respetar la legítima de los herederos forzosos (hijos, padres y cónyuge). Es
                decir,
                la parte de la herencia que por ley se reserva a éstos.</p>
            <p>¿PUEDO INCLUIR EN MI TESTAMENTO UN BIEN QUE NO ME PERTENECE?
                El Código Civil establece en su artículo 861 la posibilidad de que el testador pueda legar un bien que
                no le
                pertenezca, por ser su titular un tercero. Indicando además que únicamente será válido el llamado legado
                de
                cosa ajena, si el testador sabía que no le pertenecía al tiempo de hacer testamento. E imponiendo al
                heredero, que puede o no ser titular del bien ajeno que se lega, la obligación de adquirirlo y
                entregarlo al
                legatario. Dado que el legado de cosa ajena es una figura desconocida, buscaremos un ejemplo para
                comprender
                que finalidad persigue. En este sentido, resulta muy clarificador el supuesto que planteaba en un
                artículo
                el notario Pablo Pazos Otero. Señalando que el legado de cosa ajena puede ser una fórmula para revertir
                una
                donación de un bien realizada a favor de un hijo. Por haber cambio de parecer los donantes y sin
                necesidad
                de acudir a un procedimiento judicial de revocación. En este sentido, indica el notario, es posible que
                los
                padres donaran un local a un hijo para continuar con una actividad. Y posteriormente constaten que el
                local
                permanece cerrado, y que otro hijo es quien se muestra realmente interesado en proseguirla. Pudiendo en
                el
                testamento exigir al hijo al que donaron el local que lo entregue a su hermano. Una vez los testadores
                fallezcan y mediante un legado de cosa ajena.</p>
            <p>¿QUÉ TRIBUTACIÓN TIENE EL LEGADO DE COSA AJENA?
                La fiscalidad del legado de cosa ajena fue objeto de estudio por la Dirección General de Tributos, en la
                consulta V2254-21. En este sentido, hay que tener presente que el legado de cosa ajena es una carga
                impuesta
                por el testador, en el que intervienen además otras dos partes. El heredero que recibe el mandato del
                causante de entregar un bien. Y el legatario que es el beneficiario del mandato y el que adquiere en
                definitiva el inmueble.Lo cierto es que el heredero no tributa en el Impuesto sobre Sucesiones por el
                valor
                del bien que entrega al legatario. Sino que tributa en el IRPF por la ganancia patrimonial que se
                produce
                por la diferencia entre los valores de trasmisión y adquisición del bien en cuestión. Por el contrario,
                quien tributa por la adquisición del bien en el Impuesto sobre Sucesiones y Donaciones es el legatario
                que
                recibe el inmueble.</p>


        </div> -->


        <div class="Item">
            <h1>Derecho Administrativo</h1>
            <img src="../img/abogados-administrativos.jpg" alt="Imagen 1" class="image" id="image1">

            <p class="enunciado">La licencia previa de apertura y actividad ya es historia
                24 enero, 2013.
            </p>
        </div>


        <!-- <div class="lectura" id="lectura1">
            <p>La reducción de los trámites administrativos para favorecer la recuperación económica y eliminar los
                obstáculos que impiden el desarrollo de la iniciativa empresarial era, en el contexto actual de crisis
                económica, más necesario que nunca. Especialmente gravosas resultaban determinadas licencias cuyos
                procedimientos impedían el ejercicio de la actividad hasta mucho tiempo después de haber acometido las
                inversiones iniciales. Tras la aprobación el pasado mes de mayo del Real Decreto-ley 19/2012, y una vez
                concluida la debida tramitación parlamentaria, el 26 de diciembre fue aprobada la Ley 12/2012 de medidas
                urgentes de liberalización del comercio y de determinados servicios.</p>
            <p>El citado texto legal tiene por objeto, en cuanto al impulso y dinamización de la actividad comercial
                minorista, la eliminación de cargas y restricciones administrativas existentes que afectan al inicio y
                ejercicio de la actividad comercial, mediante la supresión de las licencias previas de ámbito municipal
                vinculadas con los establecimientos comerciales, sus instalaciones y determinadas obras previas. Dichas
                medidas se aplicarán a las actividades comerciales minoristas y a la prestación de determinados
                servicios
                realizados a través de establecimientos permanentes cuya superficie no sea superior a 300 metros
                cuadrados.
                Las actividades desarrolladas en los mencionados establecimientos que tengan impacto en el patrimonio
                histórico-artístico o en el uso privativo y ocupación de los bienes de dominio público quedarán al
                margen de
                dicha normativa.</p>
            <p>La eliminación de la licencia previa, para el inicio y desarrollo de las actividades comerciales y
                determinados servicios, es la principal novedad. Tampoco será exigible autorización previa para la
                realización de obras de acondicionamiento de locales para ejercer actividad comercial siempre que no
                requieran de la redacción de un proyecto de obra. Las obras de edificación, por el contrario, se
                seguirán
                regulando en cuanto a la exigencia de licencia, requisitos y competencia por su normativa
                correspondiente.
                Los cambios de titularidad de actividades y servicios requerirán únicamente una comunicación previa Las
                licencias previas serán sustituidas por declaraciones responsables o comunicaciones que deberán contener
                una
                manifestación explícita del cumplimiento de aquellos requisitos que resulten exigibles de acuerdo con la
                normativa vigente, debiendo el declarante estar en posesión del justificante de pago del tributo
                correspondiente cuando sea preceptivo.
            </p>
        </div> -->

    </div>

    <ul id="blog-container"></ul>

    <footer>
        <!-- Contenido del footer -->
    </footer>

    <script src="/scripts/blog.js"></script>

</body>

</html>