<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletín de Suscripción</title>
    <link rel="stylesheet" href="bullotin.css">
</head>

<body>

    <h2>
        Ante la cambiante realidad del marco jurídico en el que vivimos hace necesario conocer las novedades legales y
        jurisprudenciales que se producen, para estar al tanto de cuáles son nuestros derechos y obligaciones, y no
        declarar ignorancia de la ley, ya que esta aseveracion no te exime de tus responsabildades y obligaciones.

        Con nuestro boletín LEGAL nos acercamos mensualmente a todos nuestros lectores, sean o no clientes o usuarios del
        despacho, las cuestiones legales de actualidad de mayor interés. Ya no hay excusa para estar al día. Suscríbase
        gratuitamente.
    </h2>

    <h1>Formulario de Suscripción</h1>

    <div class="container">
        <form id="subscription-form">
            <input type="text" id="name" placeholder="Nombre" required>
            <input type="email" id="email" placeholder="Correo electrónico" required>
            <button type="submit">Suscribirse</button>
        </form>

        <div id="message"></div>
    </div>

    <script src="Scrip.js"></script>
</body>

</html>