<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Jurídicos</title>
    <link rel="stylesheet" href="services.css">

</head>

<body>

    </div>

    <nav class="navigation">

        <ul class="menu">

            <li>
                <a href="#">Consultoría</a>

                <ul class="submenu">

                    <li><a href="#">Empresariales</a></li><br>
                    <li><a href="#">Legales</a></li><br>
                    <li><a href="#">Administrativas</a></li><br>

                </ul>

            </li>

            <li><a href="#">Gestión de Servicios</a>
                <ul class="submenu">

                    <li><a href="#">Acompañamiento en su trámite de solitud de asilo o protección subsidiaria</a></li>
                    <li><a href="#">Acompañamiento en su trámite de legalización</a></li>
                    <li><a href="#">Orientación y/o acompañamiento en derecho familiar</a></li>
                    <li><a href="#">Orientación y/o representación empresarial</a></li>
                    <li><a href="#">Orientación y/o representación en extrangería</a></li>
                    <li><a href="#">Orientación y/o representación en litigios</a></li>
                    <li><a href="#">Homologación de su título bachiller en España</a></li>
                    <li><a href="#">Homologación de su título profesional en España</a></li>

                </ul>
            </li>
        </ul>

    </nav>

</body>

</html>