<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvendios</title>
  <link rel="stylesheet" href="../styles/welcome.css">
</head>

<body>
  <header>
    <!-- Contenido del header -->
  </header>

  <div id="content">

    <img src="../img/biblioteca_libros.jpg" alt="Imagen">

    <div id="text-container">
      <p class="text to the left">NUESTRA ATENCIÓN</p>
      <p>Desde nuestra trayectoria y desempeño en el área legal tenemos la responsabilidad como profesionales del
        derecho brindarles a nuestros usuarios una atención particular de sus asuntos legales sea satisfactorio en
        cualquier ámbito del derecho que requieran de nuestro trabajo profesional.</p>
      <p>Compartimos los valores que inspiraron el noble ejercicio de la abogacía desarrollando nuestra labor
        profesional en base a los principios de independencia, confiabilidad, libertad e integridad, y con
        una marcada vocación de servicio a la sociedad y al bien común. La experiencia acumulada junto a un
        incesante esfuerzo de especialización y renovación constante de nuestros conocimientos, nos sitúan
        en condiciones de ofrecerles un asesoramiento legal integral, riguroso y de calidad, acorde a sus
        necesidades. Conózcanos, les esperamos.</p>
    </div>

    <div class="container">

      <input type="text" id="search" placeholder="NUESTRA ATENCIÓN">
      <div class="image-container">
        <img src="../img/j-p-l-p-programador.jpeg" alt="Imagen">
      </div>
      <span id="texto-bienvenida-contenedor">
        <p>Compartimos los valores que inspiraron el noble ejercicio de la abogacía desarrollando nuestra labor
          profesional en base a los principios de independencia, confiabilidad, libertad e integridad, y con
          una marcada vocación de servicio a la sociedad y al bien común. La experiencia acumulada junto a un
          incesante esfuerzo de especialización y renovación constante de nuestros conocimientos, nos sitúan
          en condiciones de ofrecerles un asesoramiento legal integral, riguroso y de calidad, acorde a sus
          necesidades. Conózcanos, les esperamos.</p>
      </span>
    </div>

  </div>

  <footer>
    <!-- Contenido del footer -->
  </footer>

  <script src="scripts/index.js"></script>

</body>

</html>